html, body {
    background-color: rosybrown;
}

body {
    text-align: center;
    font-family: serif;
}

h1 {
    margin: 0;
}

div {
    margin-top: 70px;
    margin-bottom: 90px;
}

header h1 {
    margin-top: 40px;
}

div p.body {
    width: 40%;
    text-align: justify;
    display: inline-block;
}

a {
    color:darkmagenta;
}