nav a {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 182, 182);
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    float: left;
    margin: 0px;
}

html, body {
    background-color: rosybrown;
}

body {
    text-align: center;
}

nav a {
font-size: 20px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
color: black;
text-decoration: none;
margin: 0px;
}